
@mixin bg-color($colorname, $color, $color-fr) {
   .bg-#{$colorname} {
      background-color: $color;
      color: $color-fr;
   }
}

@mixin text-color($colorname, $color) {
   .text-#{$colorname} {
      color: $color;
   }
}
