.auth-active-area {
   .auth-controls {
      // padding: 12px;
      margin-left: auto;
      margin-right: auto;
      width: 280px;
   }
}

.workarea-header {
   padding-top: 30pt;
   padding-bottom: var(--gap-quarter);
   text-align: center;
}
