
@keyframes anim__fade-in-down {
   from {
      opacity: 0;
      transform: translateY(-16px);
   }

   to {
      opacity: 1;
      transform: translateY(0);
   }
}

[data-anim="fade-in-down"] {
   animation-name: anim__fade-in-down;
   animation-duration: 600ms;
}
