
$font-sans: "Inter", "Roboto", Arial;
$font-mono: 'Menlo', 'Monaco', 'Lucida Console', Monospace;

$light: #EAEAEA;
$grey: #666666;
$red: #EE0000;
$yellow: #F5A623;
$blue: #0070F3;
$cyan: #50E3C2;
$purple: #F81CE5;
$violet: #7928CA;

$controlbar-area-width: 60vw;
$mockup-area-width: 40vw;
