@mixin regular-scrollbar {
   &::-webkit-scrollbar {
       width: 6px;
       height: 6px;
   }

   &::-webkit-scrollbar-thumb {
       border-radius: 25px;
       background-color: transparent;
       transition: background-color 70ms linear;
   }

   &:hover {
       &::-webkit-scrollbar-thumb {
           background-color: var(--accents-2);

           &:active {
               background-color: var(--accents-3);
           }
       }
   }
}

.regular-scroll {
   @include regular-scrollbar();
}
