@import "./mixins/common";

@include bg-color('light', $light, #000);
@include bg-color('grey', $grey, #FFF);
@include bg-color('red', $red, #FFF);
@include bg-color('yellow', $yellow, #000);
@include bg-color('blue', $blue, #FFF);
@include bg-color('cyan', $cyan, #000);
@include bg-color('purple', $purple, #FFF);
@include bg-color('violet', $violet, #FFF);

@include text-color('light', $light);
@include text-color('grey', $grey);
@include text-color('red', $red);
@include text-color('yellow', $yellow);
@include text-color('blue', $blue);
@include text-color('cyan', $cyan);
@include text-color('purple', $purple);
@include text-color('violet', $violet);

.bg-gradient-1 {
   background: #c471f5;
   background: -webkit-linear-gradient(135deg, #c471f5 0%, #fa71cd 100%);
   background: linear-gradient(135deg, #c471f5 0%, #fa71cd 100%);
   color: white;

}
.bg-gradient-2 {
   background: #FF0F7B;
   background: -webkit-linear-gradient(90deg, #FF0F7B 0%, #F89C2A 100%);
   background: linear-gradient(90deg, #FF0F7B 0%, #F89C2A 100%);
   color: #FFF;
}

.bg-gradient-3 {
   background: #FC466B;
   background: -webkit-linear-gradient(135deg, #3F5EFB, #FC466B);
   background: linear-gradient(135deg, #3F5EFB, #FC466B);
   color: #FFF;
}

.bg-gradient-4 {
   background: #fc4a1a;
   background: -webkit-linear-gradient(135deg, #f7b733, #fc4a1a);
   background: linear-gradient(135deg, #f7b733, #fc4a1a);
   color: #FFF;
}

.bg-gradient-5 {
   background: #7F00FF;
   background: -webkit-linear-gradient(135deg, #E100FF, #7F00FF);
   background: linear-gradient(135deg, #E100FF, #7F00FF);
   color: #FFF;
}

.bg-gradient-6 {
   background: #36D1DC;
   background: -webkit-linear-gradient(135deg, #36D1DC, #5B86E5);
   background: linear-gradient(135deg, #36D1DC, #5B86E5);
   color: #FFF;
}

.pad-y-small {
   padding-top: var(--gap-quarter);
   padding-bottom: var(--gap-quarter);
}
.pad-y-medium {
   padding-top: var(--gap-half);
   padding-bottom: var(--gap-half);
}
.pad-y-large {
   padding-top: var(--gap);
   padding-bottom: var(--gap);
}
.pad-x-small {
   padding-left: var(--gap-quarter);
   padding-right: var(--gap-quarter);
}
.pad-x-medium {
   padding-left: var(--gap-half);
   padding-right: var(--gap-half);
}
.pad-x-large {
   padding-left: var(--gap);
   padding-right: var(--gap);
}

.xstack {
   display: flex;
   flex-direction: row;
}
.ystack {
   display: flex;
   flex-direction: column;
}
.stack-item {
   flex: 1;
}
.stack-item-dual {
   flex: 2;
}
.gap-small {
   gap: var(--gap-quarter);
}
.gap-medium {
   gap: var(--gap-half);
}
.gap-large {
   gap: var(--gap);
}

.justify-center {
   justify-content: center;
}
.justify-start {
   justify-content: flex-start;
}
.justify-end {
   justify-content: flex-end;
}

.align-center {
   align-items: center;
}
.align-start {
   align-items: flex-start;
}
.align-end {
   align-items: flex-end;
}

.radius-small {
   border-radius: var(--gap-quarter);
}
.radius-medium {
   border-radius: var(--gap-half);
}
.radius-large {
   border-radius: var(--gap);
}
