
:root {
   --accents-1: #FAFAFA;
   --accents-2: #EAEAEA;
   --accents-3: #999;
   --accents-4: #888;
   --accents-5: #666;
   --accents-6: #444;
   --accents-7: #333;
   --accents-8: #111;

   --primary: #5131E0;
   --primary-fr: #FFF;
   --primary-dark: #3F1FCD;
   --primary-light: #6B50E5;

   --secondary: #E8EE40;
   --secondary-fr: #000;
   --secondary-dark: #E4EB17;
   --secondary-light: #ECF15A;

   --background: #FFF;
   --foreground: #000;

   --gap: 16pt;
   --gap-half: 8pt;
   --gap-quarter: 4pt;

   --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
   --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
   --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);

   --radius: 8px;
}
